modal

numpy
requests
beautifulsoup4
lxml

pillow

trimesh
pyrender
pygltflib

opencv-python-headless

rembg

playwright

torch
torchvision

transformers>=4.53.2
accelerate
huggingface_hub

huggingface-hub
